nav#menu {
    background-color: black;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
  }
  
  nav#menu a {
    color: white;
    text-decoration: none;
    padding: 1em;
    font-family: "Fredoka One", cursive;
  }
  
  nav#menu a:hover {
    text-decoration: underline;
    color: gray;
  }

  h1 {
    text-align: center;
    font-size: 1,5em;
  }


  .logo img {
    max-height: 6em;
    max-width: auto;
    object-fit: cover;
    float: left;

  }

  table {
      color: black;
      font-size: 1.5em;
      font-family: Open Sans;
      text-align: center;
      font-weight: inherit;
      border-style: solid;
      border-color: gray;
      margin-top: 2em;
      
  }

  

  